@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import "tailwindcss";
* {
   font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #5044E5;
}

.reset-tw, .reset-tw * {
  all: revert !important;
}

.cl-drawerRoot{
  z-index: 10;
}

